<div class="row omb_login">
  <h3 class="omb_authTitle"><%= t ".heading" %></h3>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @artist] do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="form-group">
        <%= f.label :name %><br/>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :gender %><br/>
        <%= f.select :gender,
          options_for_select(@support.genders),
          autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :type_of_music %><br/>
        <%= f.select :type_of_music,
          options_for_select(@support.type_of_musics),
          class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :artist_type %><br/>
        <%= f.select :artist_type,
          options_for_select(@support.artist_types),
          class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :date_of_birth %><br/>
        <%= f.text_field :date_of_birth, "data-behaviour": "datepicker",
          class: "form-control", required: true %>
      </div>
      <%= f.submit t(".submit"), class: "btn btn-primary btn-block btn-lg" %>
    <% end %>
  </div>
</div>
