<% provide :title, t(".title") %>
<h1><%= t ".heading" %></h1>
<%= render "search_form" %>
<table class="table table-hover">
  <tr>
    <th><%= t ".name" %></th>
    <th><%= t ".gender" %></th>
    <th><%= t ".date_of_birth" %></th>
    <th><%= t ".email" %></th>
    <th><%= t ".action" %></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td> <%= user.name %> </td>
      <td> <%= user.gender %> </td>
      <td> <%= user.date_of_birth %> </td>
      <td> <%= user.email %> </td>
      <td>
        <%= link_to t(".delete"), admin_user_path(user),
          class: "btn btn-danger", method: :delete,
          data: {confirm: t(".confirm")} %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @users %>
