<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".link_home"), root_path %></li>
        <li><%= link_to t(".link_help"), "/static_pages/help" %></li>
        <li><%= link_to t(".link_login"), user_session_path %></li>
        <li><%= link_to t(".link_logout"),
          destroy_user_session_path, method: :delete %></li>
        <li><%= link_to t(".link_signup"), new_user_registration_path %></li>
      </ul>
    </nav>
  </div>
</header>
